
@{
    ViewData["Title"] = "BlogDetay";
    Layout = "~/Views/Shared/_Home.cshtml";
    
}
@model BlogWebsite.Modeller.AnasayfaBlogs

<!--================ Start Blog Post Area =================-->
  <section class="blog-post-area section-margin">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
         @foreach (var item in Model.BlogYazilarim){
            
            <div class="main_blog_details">		
             <img class="img-fluid" src="@item.AnaGorsel" alt="@item.Baslik" 
                style="width: 100%; height: 480px; object-fit: cover;">
                <a href="#"><h4>@item.Baslik </h4></a>
                <div class="user_details">
                  <div class="float-left">
                @foreach(var etiketler in Model.Etiketlerim){
                        <a href="#">@etiketler.EtiketAdi</a>
                        }
                  </div>
                  <div class="float-right mt-sm-0 mt-3">
                    <div class="media">
                        <div class="media-body">
                        @* Kullanıcı bilgilerini göster *@
                        @if (Model.Kullanicilarim != null && Model.Kullanicilarim.Any())
                        {
                        <h5>@Model.Kullanicilarim.First().AdSoyad</h5>
                         }
                    <p>@item.YayinTarihi?.ToString("dd MMM, yyyy hh:mm tt")</p>
                  </div>
                  <div class="d-flex">
                        @if (Model.Kullanicilarim != null && Model.Kullanicilarim.Any() && !string.IsNullOrEmpty(Model.Kullanicilarim.First().ProfilResmi))
                        {
                        <img width="42" height="42" src="@Model.Kullanicilarim.First().ProfilResmi" alt="">
                        }
                        else
                        {
                         <img width="42" height="42" src="~/AnaTemplate/img/blog/xdxd.png" alt="">
                         }
                      </div>
                    </div>
                  </div>
                </div>
                <p>@item.Icerik</p>              
               <div class="news_d_footer flex-column flex-sm-row">
                <a href="#"><span class="align-middle mr-2"><i class="ti-heart"></i></span>@ViewBag.YorumSayisi Yorum</a>
              
                 <div class="news_socail ml-sm-auto mt-sm-0 mt-2">
               <a href="#"><i class="fab fa-facebook-f"></i></a>
               <a href="#"><i class="fab fa-twitter"></i></a>
               <a href="#"><i class="fab fa-dribbble"></i></a>
               <a href="#"><i class="fab fa-behance"></i></a>
             </div>
               </div>
              </div>


                <div class="comments-area">                     
                 <h4>@ViewBag.YorumSayisi Yorum</h4>
                @foreach (var yorum in Model.Yorumlarim)
                {
                    if(yorum.Onaylandi==true){
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                
                                <div class="thumb">               
                                 <img width="60" height="60" src="~/AnaTemplate/img/blog/xdxd.png" alt="">
                                </div>
                                <div class="desc">
                                   
                                    <h5><a href="#">@yorum.Ad</a></h5>
                                    <p class="date">@yorum.OlusturmaTarihi.ToString("dd MMM, yyyy hh:mm tt") </p>
                                    <p class="comment">
                                       @yorum.YorumIcerik
                                    </p>
                                       
                                </div>
                                        
                            </div>                           
                        </div>

                                </div>
                            }
                        }
                        
                </div>
                }
                @if (TempData["YorumBasari"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>✓ Başarılı!</strong> @TempData["YorumBasari"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }

                @if (TempData["Hata"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>✗ Hata!</strong> @TempData["Hata"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                
                <div class="comment-form">
                    <h4>Bir Yorum Bırak</h4>
                    <form asp-action="YorumYap" asp-controller="Home" method="post">
                        @foreach (var item in Model.BlogYazilarim)
                        {
                            <input type="hidden" name="blogId" value="@item.BlogId" />
                        }

                        <div class="form-group form-inline">
                          <div class="form-group col-lg-6 col-md-6 name">
                            <input type="text" class="form-control" name="isim" id="isim" placeholder="İsim Girin" onfocus="this.placeholder = ''" onblur="this.placeholder = 'İsim Girin'">
                          </div>
                          <div class="form-group col-lg-6 col-md-6 email">
                            <input type="email" class="form-control" name="email" id="email" placeholder="E-mail Adresi Girin" onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-mail Adresi Girin'">
                          </div>										
                        </div>                      
                        <div class="form-group">
                            <textarea class="form-control mb-10" name="yorum" rows="5" name="yorum" placeholder="Yorum" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Yorum'" required=""></textarea>
                        </div>
                        <button type="submit"  class="button submit_btn">Yorumu Yayınla</button>	
                    </form>
                </div>
        </div>

        <!-- Start Blog Post Siddebar -->
        <div class="col-lg-4 sidebar-widgets">
            <div class="widget-wrap">
              <div class="single-sidebar-widget newsletter-widget">
                <h4 class="single-sidebar-widget__title">Newsletter</h4>
                <div class="form-group mt-30">
                  <div class="col-autos">
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Enter email'">
                  </div>
                </div>
                <button class="bbtns d-block mt-20 w-100">Subcribe</button>
              </div>


              <div class="single-sidebar-widget post-category-widget">
                <h4 class="single-sidebar-widget__title">Catgory</h4>
                <ul class="cat-list mt-20">
                  <li>
                    <a href="#" class="d-flex justify-content-between">
                      <p>Technology</p>
                      <p>(03)</p>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="d-flex justify-content-between">
                      <p>Software</p>
                      <p>(09)</p>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="d-flex justify-content-between">
                      <p>Lifestyle</p>
                      <p>(12)</p>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="d-flex justify-content-between">
                      <p>Shopping</p>
                      <p>(02)</p>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="d-flex justify-content-between">
                      <p>Food</p>
                      <p>(10)</p>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="single-sidebar-widget popular-post-widget">
                <h4 class="single-sidebar-widget__title">Popular Post</h4>
                <div class="popular-post-list">
                  <div class="single-post-list">
                    <div class="thumb">
                      <img class="card-img rounded-0" src="img/blog/thumb/thumb1.png" alt="">
                      <ul class="thumb-info">
                        <li><a href="#">Adam Colinge</a></li>
                        <li><a href="#">Dec 15</a></li>
                      </ul>
                    </div>
                    <div class="details mt-20">
                      <a href="blog-single.html">
                        <h6>Accused of assaulting flight attendant miktake alaways</h6>
                      </a>
                    </div>
                  </div>
                  <div class="single-post-list">
                    <div class="thumb">
                      <img class="card-img rounded-0" src="img/blog/thumb/thumb2.png" alt="">
                      <ul class="thumb-info">
                        <li><a href="#">Adam Colinge</a></li>
                        <li><a href="#">Dec 15</a></li>
                      </ul>
                    </div>
                    <div class="details mt-20">
                      <a href="blog-single.html">
                        <h6>Tennessee outback steakhouse the
                          worker diagnosed</h6>
                      </a>
                    </div>
                  </div>
                  <div class="single-post-list">
                    <div class="thumb">
                      <img class="card-img rounded-0" src="img/blog/thumb/thumb3.png" alt="">
                      <ul class="thumb-info">
                        <li><a href="#">Adam Colinge</a></li>
                        <li><a href="#">Dec 15</a></li>
                      </ul>
                    </div>
                    <div class="details mt-20">
                      <a href="blog-single.html">
                        <h6>Tennessee outback steakhouse the
                          worker diagnosed</h6>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

                <div class="single-sidebar-widget tag_cloud_widget">
                  <h4 class="single-sidebar-widget__title">Popular Post</h4>
                  <ul class="list">
                    <li>
                        <a href="#">project</a>
                    </li>
                    <li>
                        <a href="#">love</a>
                    </li>
                    <li>
                        <a href="#">technology</a>
                    </li>
                    <li>
                        <a href="#">travel</a>
                    </li>
                    <li>
                        <a href="#">software</a>
                    </li>
                    <li>
                        <a href="#">life style</a>
                    </li>
                    <li>
                        <a href="#">design</a>
                    </li>
                    <li>
                        <a href="#">illustration</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <!-- End Blog Post Siddebar -->
      </div>
  </section>
  <!--================ End Blog Post Area =================-->

