@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}
@model BlogWebsite.Modeller.AnasayfaBlogs
<style>
    .bosluk{
		margin-top: 75px;



    }
     .blog__slide__img img {
        width: 100%;
        height: 300px;
        object-fit: cover;
   
    
</style>

<main class="site-main">
  
    <!--================ Blog slider start =================-->  
    <section class="bosluk">
      <div class="container">
      <h4 class="single-sidebar-widget__title" style="" >En Popüler Bloglar</h4>
        <div class="owl-carousel owl-theme blog-slider">
                @if (ViewBag.SliderBloglar != null && ViewBag.SliderBloglar.Count > 0)
                {
                    @foreach (var sliderBlog in ViewBag.SliderBloglar)
                    {
                       <div class="card blog__slide text-center">
                      <div class="blog__slide__img">
                          <img class="card-img rounded-0" src="@sliderBlog.AnaGorsel" alt="@sliderBlog.Baslik">
                      </div>
                      <div class="blog__slide__content">
                          <a class="blog__slide__label" asp-controller="Home" asp-action="KategoriBloglari" asp-route-kategoriId="@sliderBlog.KategoriId">
                                    @sliderBlog.Kategori.KategoriAdi
                          </a>
                          <h3>
                              <a asp-controller="Home" asp-action="BlogDetay" asp-route-blogid="@sliderBlog.BlogId">
                                        @(sliderBlog.Baslik.Length > 60 ? sliderBlog.Baslik.Substring(0, 60) + "..." : sliderBlog.Baslik)
                              </a>
                          </h3>
                          <p>
                            @{
                                // ✅ YayinTarihi nullable mı kontrol et
                                DateTime tarih;

                                // Eğer YayinTarihi nullable DateTime? ise
                                if (sliderBlog.YayinTarihi != null)
                                {
                                    // DateTime? türünde ise .Value ile al
                                    object yayinTarihiObj = sliderBlog.YayinTarihi;

                                    if (yayinTarihiObj is DateTime?)
                                    {
                                        tarih = ((DateTime?)yayinTarihiObj).Value;
                                    }
                                    else
                                    {
                                        tarih = (DateTime)yayinTarihiObj;
                                    }
                                }
                                else
                                {
                                    tarih = DateTime.Now;
                                }

                                var gunFarki = (DateTime.Now - tarih).Days;

                                if (gunFarki == 0)
                                {
                                    <text>Bugün</text>
                                }
                                else if (gunFarki == 1)
                                {
                                    <text>Dün</text>
                                }
                                else if (gunFarki < 7)
                                {
                                    @gunFarki <text> gün önce</text>
                                }
                                else
                                {
                                    @tarih.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("tr-TR"))
                                }
                            }
                          </p>
                      </div>
                  </div>
                    }
                }
                else
                {
                  <!-- Varsayılan placeholder -->
                  <div class="card blog__slide text-center">
                      <div class="blog__slide__img">
                          <img class="card-img rounded-0" src="~/AnaTemplate/img/blog/blog-slider/blog-slide1.png" alt="">
                      </div>
                      <div class="blog__slide__content">
                          <a class="blog__slide__label" href="#">Blog</a>
                          <h3><a href="#">Henüz blog bulunmamaktadır</a></h3>
                          <p>Yakında</p>
                      </div>
                  </div>
                }
        </div>
          </div>
          
      </div>
    </section>
    <!--================ Blog slider end =================-->  

    <!--================ Start Blog Post Area =================-->
    <section class="blog-post-area section-margin mt-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            @foreach(var item in Model.BlogYazilarim){				
                        var yazar = Model.Kullanicilarim.FirstOrDefault(k => k.KullaniciId == item.YazarId);
						var	yorumsayisi = Model.Yorumlarim.Count(x => x.BlogId == item.BlogId && x.Onaylandi==true);
                            if (item.YazarId == yazar.KullaniciId && yazar.Rol == "Yazar" && item.Durum==1)
                            {
                         <div class="single-recent-blog-post">
                           <div class="thumb" >                  
                            <img width="720px" height="400px"   src="@item.AnaGorsel" alt="">              
                            <ul class="thumb-info">
                               <li><i class="ti-user"></i>@yazar.AdSoyad</li>
                               <li><i class="ti-notepad"></i>@item.YayinTarihi?.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("tr-TR"))</li>
                               <li><a href="#"><i class="ti-themify-favicon"></i>@yorumsayisi Yorum </a></li>
                            </ul>
                          </div>
                          <div class="details mt-20">
                            <a href="blog-single.html">
                              <h3>@item.Baslik</h3>
                            </a>
                            <p class="tag-list-inline">
                                    Etiketler:
                                @{
                                    var blogetiketlerim = Model.BlogEtiketlerim.Where(b => b.BlogId == item.BlogId).ToList();
                                    var etiketAdlari = blogetiketlerim
                                        .Select(be => Model.Etiketlerim.FirstOrDefault(e => e.EtiketId == be.EtiketId)?.EtiketAdi)
                                        .Where(a => !string.IsNullOrEmpty(a))
                                        .ToList();
                                }

                                @for (int i = 0; i < etiketAdlari.Count; i++)
                                {
                                    <a href="#">@etiketAdlari[i]</a>
                                    if (i < etiketAdlari.Count - 1)
                                    {
                                        @:,
                                    }
                                }
                                    </p>

                            <p>@item.Ozet</p>
                            <a asp-action="BlogDetay" asp-controller="Home" asp-route-blogid="@item.BlogId" class="button">Devamını Oku <i class="ti-arrow-right"></i></a>
                          </div>
                        </div>
                                }
                             }							                                    
            <div class="row">
              <div class="col-lg-12">
                  <nav class="blog-pagination justify-content-center d-flex">
                      <ul class="pagination">
                          <li class="page-item">
                              <a href="#" class="page-link" aria-label="Previous">
                                  <span aria-hidden="true">
                                      <i class="ti-angle-left"></i>
                                  </span>
                              </a>
                          </li>
                          <li class="page-item active"><a href="#" class="page-link">1</a></li>
                          <li class="page-item"><a href="#" class="page-link">2</a></li>
                          <li class="page-item">
                              <a href="#" class="page-link" aria-label="Next">
                                  <span aria-hidden="true">
                                      <i class="ti-angle-right"></i>
                                  </span>
                              </a>
                          </li>
                      </ul>
                  </nav>
              </div>
            </div>
          </div>

          <!-- Start Blog Post Siddebar -->			
          <div class="col-lg-4 sidebar-widgets">
              <div class="widget-wrap">
                <div class="single-sidebar-widget newsletter-widget">
                  <h4 class="single-sidebar-widget__title">Newsletter</h4>
                  <div class="form-group mt-30">
                    <div class="col-autos">
                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Enter email'">
                    </div>
                  </div>
                  <button class="bbtns d-block mt-20 w-100">Subcribe</button>
                </div>
               <div class="single-sidebar-widget post-category-widget">
                <h4 class="single-sidebar-widget__title">Kategoriler</h4>
                <ul class="cat-list mt-20">
                    @foreach (var kategori in Model.Kategorilerim)
                    {
                        var blogSayisi = kategori.BlogYazilaris?.Count ?? 0;
                        if (blogSayisi > 0) // Sadece blog içeren kategorileri göster
                        {
                <li>
                  <a href="@Url.Action("KategoriBloglari", "Home", new { kategoriId = kategori.KategoriId })" 
                     class="d-flex justify-content-between">
                    <p>@kategori.KategoriAdi</p>
                    <p>(@blogSayisi)</p>
                  </a>
                </li>
                        }
                    }
              </ul>
            </div>
               </div>
              </div>
            </div>
          <!-- End Blog Post Siddebar -->
        </div>
    </section>
    <!--================ End Blog Post Area =================-->
  </main>
